<form >
    <h3>Create a New Vocal Compressor Preset</h3>
    <div ng-if="vm.err.length > 0" class="alert alert-danger">
            <strong>OOPS!</strong> {{vm.err}}
    </div>
    <div >
        <label>Mode</label>
        <input ng-model="vm.preset.mode" type="text" class = "form-control" />
    </div>
    <div >
        <label>Attack (ms)</label>
        <input ng-model="vm.preset.attach" type="number" class = "form-control" />
    </div>
     <div >
        <label>Release (ms)</label>
        <input ng-model="vm.preset.release" type="number" class = "form-control" />
    </div>
     <div >
        <label>Threshold (dB)</label>
        <input ng-model="vm.preset.threshold" type="number" class = "form-control" />
    </div>
    <div >
        <label>Ratio</label>
        <input ng-model="vm.preset.ratio" type="text" class = "form-control" />
    </div>
    <div >
        <label>Presence (dB)</label>
        <input ng-model="vm.preset.presense" type="number" class = "form-control" />
    </div>
    <div >
        <label>Make up (dB)</label>
        <input ng-model="vm.preset.makeUp" type="number" class = "form-control" />
    </div>
    <br/>
    <button type="button" ng-click="vm.submit()" class="btn btn-primary">Submit</button>
    <button type="button" ng-click="vm.cancel()" class="btn btn-danger pull-right">Cancel</button>
</form>
